@define-color bg #000000;
@define-color fg #97D863;
@define-color gray1 #76cafe;
@define-color gray2 #686163;
@define-color gray3 #667ab9;
@define-color gray4 #89ffff;
@define-color gray5 #a19ef1;
@define-color fg_bright #f1f5ff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}